# Red Config
RESOLVE_IP=

# Admin Panel Config
ADMIN_PANEL_PORT=
OPENMU_ADMIN_USER=
OPENMU_ADMIN_PASSWORD=
OPENMU_ADMIN_TOTP_SECRET=
OPENMU_DATA_PATH=

# Postgres Config
OPENMU_DB_PATH=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

# Web Config
WEB_PORT=
DB_HOST=
TIMEZ=